[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://127.0.0.1:5500/images/logo.svg
Type=Link
URL=http://127.0.0.1:5500/images/logo.svg
Icon=image-svg+xml
